@using Blog.Models.BlogViewModels
@model BlogNewViewModel

<div class="row">
    <form method="post">        
        <h1 class="mt-4">Create new blog</h1>
        <label asp-for="Url">Your vanity URL</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">@ViewData["HostUrl"]/Blog/</span>
            <input asp-for="Url" type="text" class="form-control" aria-describedby="basic-addon3"/>
        </div>

        <label asp-for="Name">Name</label>        
        <div class="input-group">
            <input asp-for="Name" type="text" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>            
        </div>

        <label asp-for="Secondary">Secondary</label>        
        <div class="input-group">
            <input asp-for="Secondary" type="text" class="form-control"/>
            <span asp-validation-for="Secondary" class="text-danger"></span>            
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}